
body#body-index {
  overflow-x: hidden;
  background-color: #20242E;
}

.custom#heroes {
  background-color: #20242E;
}

body#body-position {
  overflow-x: hidden;
  background-color: #202C2F;
}

#position {
  background-color: #202C2F;
}

#body-position h2 {
  margin: 4px 8px 0;
  background-color: rgba(32,44,47,0.85);
  color: #f9f9f9;
  border: solid 3px rgba(249,249,249,0.7);
  box-shadow: 0 0 6px rgba(249,249,249,0.7);
}

body#body-forum {
  overflow-x: hidden;
  background-color: #191919;
}

body#body-home {
  overflow-x: hidden;
  background-color: #000000;
}

p { margin: 0 0 8px 0; }

b {  color: #f9f9f9; }

.container {
  padding: 0;
}

@media (min-width: 1920px) {
  .container {
    width: 66%;
  }
}

.fill-section {
  padding-bottom: 2px;
}

.fill-section,
.section-bg {
  background-color: rgba(210,215,240,0.45);
  padding: 8px 4px 12px;
  margin: 24px 0 0;
  color: rgba(249,249,249,0.85);
}

#body-home li > a,
#slimh1 a {
  color: rgba(255,255,255,0.5);
}

#footer a,
.tab-pane .row a,
li > a {
  color: rgba(210,215,240,0.6);
}

.tab-pane .row a:hover,
.tab-pane .row a:focus,
li > a:hover, li > a:focus {
  color: rgba(41,32,46,0.8);
  text-decoration: none;
}

div[id^="tal"] {
  width: 85%;
  height: 150px;
  margin: 12px auto;
}

#footer-index {
  background-color: rgba(32, 36, 46, 0.85);
  position: fixed;
  bottom: 0;
  padding: 12px 0 0 0;
  font-size: 15px;
  color: #F9F9F9;
  height: 75px;
  width: 100%;
  margin: 0;
  display: block;
}

#footer-home {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  bottom: 0;
  padding: 12px 0 0 0;
  font-size: 15px;
  color: #F9F9F9;
  height: 75px;
  width: 100%;
  margin: 0;
  display: block;
}

#footer {
  padding: 12px 0;
  height: 48px;
  font-size: 1.0em;
  color: #F9F9F9;
}

#body-index .dropdown-menu {
  background-color: rgba(118, 115, 133, 0.9);
  //max-height: 640px;
}

#body-home .dropdown-menu {
  background-color: rgba(85,85,85,0.9);
  color: rgba(255,255,255,0.5);
}

.dropdown-menu > li > a:hover {
  color: #292929 !important;
}

.dropdown-menu > li > a {
  color: rgba(249,249,249,0.85) !important;
}

.btn-default {
  display: block;
}

#header.container {
  margin: 20px auto 0;
}

#header {
  margin: 20px 5px 0;
}

#forumbtn,
#header .btn-default {
  color: rgba(249,249,249,0.85);
  background-color: transparent;
  box-shadow: 0 0 6px rgba(249,249,249,0.85);
  border: 0;
  font-variant: small-caps;
  font-size: 17px;
  font-weight: 400;
  padding: 9px 12px;
}

#forumnav #forumbtn {
  font-size: 24px;
  padding: 2px 12px;
}

#index > button,
#forum > button,
#back > button,
#top > button {
  outline: 0;
}

#footer-home .btn-default,
#reddit,
#dota,
#twitter {
  color: rgba(255,255,255,0.8);
  padding: 10px 15px;
  background-color: rgba(255,255,255,0.3);
  border-color: transparent;
}

#footer-home li > a:hover,
#footer-home li > a:focus,
#footer-home #reddit:focus,
#footer-home #reddit:hover,
#footer-home #dota:focus,
#footer-home #dota:hover,
#footer-home #twitter:focus,
#footer-home #twitter:hover {
  background-color: rgba(249,249,249,0.7);
  color: rgba(41,32,46,0.8);
  border-color: transparent;
}

.btn-default {
  color: rgba(210,215,240,0.8);
  padding: 10px 15px;
  background-color: rgba(210,215,240,0.3);
  border-color: transparent;
}

ul#filters > li > a,
ul#filters > li > a {
  color: rgba(210,215,240,0.8);
  padding: 10px 15px;
  border-radius: 0;
}

ul#filters > li > a.active,
ul#filters > li > a.active {
  color: #f9f9f9;
}

ul#filters > li > a:hover,
ul#filters > li > a.active:hover {
  background-color: rgba(210,215,240,0.2);
  color: #f9f9f9;
  border-color: transparent;
  cursor: pointer;
}

ul#filters > li > a:focus,
ul#filters > li > a.active:focus {
  background-color: rgba(210,215,240,0.2);
  color: #f9f9f9;
  border-color: transparent;
  border-radius: 6px;
}

#filters {
  min-width: 470px;
}

#forumbtn:hover,
#forumbtn:focus,
#header .btn-default:hover,
#header .btn-default:focus,
.btn-default:hover,
.btn-default:focus,
#dota:hover,
#dota:focus,
#reddit:hover,
#reddit:focus,
#twitter:hover,
#twitter:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: rgba(249,249,249,0.7);
  color: rgba(41,32,46,0.8);
  border-color: transparent;
}

.btn-default:active,
.btn-default.active {
  background-color: rgba(255,255,255,0);
  padding: 10px 12px;
  border: 0;
  font-size: 16px;
  color: #f9f9f9 !important;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a {
  background-color: rgba(255,255,255,0);
  padding: 10px 12px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  color: #f9f9f9;
}

.nav-tabs {
  text-align: center;
  border: 0;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
}

#footer-home > .nav-tabs > li.active,
div[id^='footer'] > .nav-tabs > li.active {
  display: none;
}

#slimh1 {
  padding: 40px 80px 0 80px;
  min-height: 42px;
  height: 80px !important;
}

h1 {
  color: #f9f9f9;
  font-weight: 900;
  margin: 0;
}

h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 500;
  margin: 8px 0 0 0;
}

h3 {
  font-size: 27px;
  color: #f9f9f9;
  margin: 8px auto 12px auto;
}

h4 {
  margin: 12px auto;
}

#about h2,
#submit h2,
#contributors h2 {
  margin: 6px auto 12px auto;
  color: #f9f9f9;
}

#about > .section-bg,
#submit > .section-bg,
#contributors > .section-bg {
  padding: 4px 10% 12px;
  color: rgba(249,249,249,0.85);
}

.role {
  margin: 12px 20px 20px 20px;
  min-width: 136px;
  min-height: 124px;
  padding-top: 12px;
  background-color: rgba(41,32,46,0.25);
}

.role > img:hover,
.role > img:focus {
  cursor: pointer;
}

.role > img {
  margin: 0px 12px 12px 12px;
  display: inline-block;
}

.lore {
  margin-top: 24px;
}

.lore > p {
  padding: 4px 12% 10px 12%;
}

.attrib {
  margin: 12px 0 0;
  padding-bottom: 8px;
}

.fill-section .col-xs-3 > img.img-responsive {
  margin: 20px auto 12px auto;
}

.popover .col-xs-3 > img.img-responsive {
  max-height: 64px;
  margin: 20px auto 12px auto;
}

.col-xs-3.left {
  padding: 0;
}

#heroes div[class^="col-xs-"] {
  padding: 0;
}

#heroes .section-bg {
  min-height: 208px;
}

.left {
  padding-right: 0;
}

.right {
  padding-left: 0;
}

.popover {
  min-width: 320px;
  max-width: 640px;
  padding: 0 0 4px;
  background-color: rgba(118,115,133,0.9);
  border-radius: 0px;
}

.popover b {
  color: #f9f9f9;
}

.popover-title {
  background-color: rgba(0,0,0,0);
  color: #f9f9f9;
  padding: 8px 8px 4px 8px;
  border: 0px;
  border-radius: 0px;
  font-size: 21px;
  font-weight: bold;
}

.popover-inset {
  background-color: rgba(0,0,0,0);
  color: #f9f9f9;
  padding: 0px;
  border: 0px;
}

.popover-line {
  background-color: rgba(214,215,221,0.45);
  color: #191919;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.popover-content {
  background-color: rgba(0,0,0,0);
  color: rgba(249,249,249,0.85);
  padding: 0;
  border: 0;
  font-size: 13px;
  text-align: center;
}

.popover.bottom .arrow:after {
  border-bottom-color: rgba(118,115,133,0.85);
}

.popover.left .arrow:after {
  border-left-color: rgba(118,115,133,0.85);
}

.popover.right .arrow:after {
  border-right-color: rgba(118,115,133,0.85);
}

.popover.top .arrow:after {
  border-top-color: rgba(118,115,133,0.85);
}

.popover-content .row {
  //border: 10px outset rgba(48,74,70,0.15);
  //border: 2px inset #f9f9f9;
  outline: 2px outset #f9f9f9;
  margin: 0 10px 4px 10px;
}

.tab-pane[id^="hero-"] > .row > img.img-responsive {
  margin: 12px auto 0 auto;
  display: inline;
}

.tab-pane[id^="hero-"] > .row > h2 {
  color: #f9f9f9;
  margin: 8px auto 0 auto;
}

.tab-pane[id^="hero-"] > .fill-section > .row,
.tab-pane[id^="hero-"] > .section-bg > .row {
  outline: 4px outset #f9f9f9;
  margin: 0 12px 8px 12px;
}

.tab-pane[id^="hero-"] > .fill-section > p {
  margin: -4px auto 12px auto;
}

.tab-pane[id^="hero-"] > .section-bg > p {
  margin: 4px auto 4px auto;
}

.spacer {
  margin-top: 30px;
  height: 60px;
}

.filler {
  height: 20vh;
  margin: 12px 5%;
  background-color: rgba(33,33,33,0.4);
}
.hero-trigger {
  width: 100%;
  height: 100%;
  color: inherit;
}

.hero-trigger:hover,
.hero-trigger:focus {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#top {
  background-color: rgba(41, 32, 46, 0.6) !important;
  right: 20px;
  display: none;
}

#back {
  display: none;
}

.official,
.polished,
.wip,
.draft {
  //-webkit-animation-duration: 0.5s;
  //-o-animation-duration: 0.5s;
  //-moz-animation-duration: 0.5s;
  //animation-duration: 0.5s;
}

@media (max-width: 1199px) {
  .controls {
    height: 80px !important;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1600px;
  }
}

.controls {
  margin: 12px 0 -8px;
  height: 42px;
}

.controls li {
  border-radius: 0;
}

#tags {
  min-width: 80px;
  padding-right: 12px;
  //margin-bottom: 6px;
}

@media (max-width: 558px) {
  .highlight-panels > li > a {
    padding: 32px 16px !important;
  }
}

.highlight-panels > li > a {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  padding: 32px 80px;
  display: block;
}

.highlight-panels > li > a > .pull-right {
  padding-top: 0.2em;
  font-size: 0.8em;
}

@media (max-width: 840px) {
  .highlight-panels li {
    height: 144px;
  }
}

@media (max-width: 440px) {
  .highlight-panels li {
    height: 180px;
  }
}

#slimh1 a:hover, #slimh1 a:focus,
#forumnav li.active a:hover,
#forumnav li.active a:focus,
#forumnav li a:hover,
#forumnav li a:focus {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}


.highlight-panels {
  width: 100%;
  padding: 0;
  margin: 0;
}

.highlight-panels li a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50); // <=IE8
}

.highlight-panels img {
  width: 24px;
  padding-bottom: 4px;
  border-radius: 12px;
}

.highlight-panels li {
  min-height: 96px;
  display: block;
}

.highlight-panels li a:hover,
.highlight-panels li a:focus {
  background-color: rgba(255,255,255,0.3);
}

.type {
  font-size: 14px;
  color: #333;
  display: inline-block;
}

.highlight-panels#forum b {
  font-variant: small-caps;
  letter-spacing: 1.2px;
}

#controlsslim {
  margin: 16px 0 12px 0;
  padding: 4px 0;
}

.filterlabel {
  color: rgba(255,255,255,0.5);
  font-variant: small-caps;
  letter-spacing: 1.2px;
  display: inline-block;
}

.filterbtn {
  display: inline-block;
}

@media (max-width: 840px) {
  .filterlabel,
  .filterbtn {
    display: block;
  }
}

.filterbtn > .btn-group > button {
  background-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.5);
}

.filterbtn > .btn-group > button:hover,
.filterbtn > .btn-group > button:focus {
  background-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.8);
}

.modal-dialog {
  width: 60vw;
}

@media (max-width: 840px) {
  .modal-dialog {
    width: 85vw;
  }
}

.modal-content {
  background-color: rgba(127,127,127,0.87);
  max-height: 640px;
}

.dropdown-menu#scroll {
  overflow-y: scroll;
}

.dropdown-menu > li > a {
  color: #f9f9f9;
}

.rules-btn {
  margin-left: 48px;
  padding: 4px 0;
}

.new-btn {
  margin-right: 48px;
  padding: 4px 0;
}

.rules-btn .btn,
.new-btn .btn {
  font-size: 36px;
}



